<div>
    <div class="row" *ngIf="false">
        <button class="btn btn-default" (click)="toggleCharts()">Show chart</button>
        <div class="row" *ngIf="showCharts">
            not yet implemented
        </div>
    </div>
    <hr/>
    <div *ngFor="let repo of repos" class="feature">
        <a href="{{repo.html_url}}"></a>
        <div class="row">
            <h3>{{repo.name}} - {{repo.full_name}}</h3>
        </div>
        <div class="row">
            <small>{{repo.created_at | date}}</small>
        </div>
        <div class="row">
            <p>{{repo.description}}</p>   
        </div>
        <hr />
    </div>
</div>


