<div>
    <h3>Aplikacja jest projektem zaliczeniowym</h3>
    <h4>Aplikacja oparta jest o Angular2 z TypeScript</h4>
    <hr/>
        <ul>
            <li>3:
                <ul>
                    <li><s>Projekt wykorzystujący minimum 3 komponenty, które komunikują się ze sobą przez mechanizm atrybutów oraz zdarzeń</s></li>
                    <li><s>Projekt ma posiadać formularz z walidacją pól, oparty na szablonie html (Template Forms – podejście Template-driven)</s></li>
                </ul>
            </li><br/>
            <li>3.5:
                <ul>
                    <li><s>Wykorzystanie modułu do nawigacji (Router Module) między komponentami</s></li>
                    <li><s>Aplikacja ma być podzielona na moduły (minimum 2)</s></li>
                </ul>
            </li><br/>
            <li>4:
                <ul>
                    <li><s>Wykorzystanie modułu http do wykonywania zapytań http do wybranego przez siebie serwisu internetowego</s></li>
                    <li><s>Wykorzystanie kolekcji Observable z biblioteki Rx</s></li>
                </ul>    
            </li><br/>
            <li>4.5:
                <ul>
                    <li>Projekt ma posiadać formularz z walidacją pól, oprogramowanymi różnymi zdarzeniami, stworzony podejściem Reactive Forms</li>
                </ul>
            </li><br/>
            <li>5:
                <ul>
                    <li>Wykorzystanie dowolnych gotowych bibliotek z modułami do Angualra 2: Material Design 2, Google Maps, Google Charts</li>
                </ul>
            </li>
        </ul>
</div>